@{
    Layout = "_Layout";
}

@using SpookyPark.Models
@model List<SpookyPark.Models.Attraction>

<h1>Attractions</h1>

@if (Model.Count == 0)
{
    <h3> No attraction here </h3>
}

@foreach (Attraction attraction in Model)
{
    string urlEnd = $"{attraction.Name}.jpg";
    <div class="card" style="width: 18rem;">
        <!-- <img src="@($"~/img/{urlEnd}")" class="card-img-top" alt="..."> -->
        <div class="card-body">
            <p class="card-text">
                @Html.ActionLink($"{attraction.Name}", "Details", new { id = attraction.AttractionId }) <br> @attraction.EntertainmentType.Name
            </p>
        </div>
    </div>
}
