<div id="navbar">
  
    <a class="nav-partial" href="/">Spooky Park</p>  
    <a class="nav-partial" href="/Attractions">Attractions</a>
    <a class="nav-partial" href="/EntertainmentTypes">Entertainment Types</a>
    <a class="nav-partial" href="/EntertainmentTypes/Create">Add new Entertainment Type</a>

    <p>@Html.ActionLink("Add Attraction", "Create", "Attractions")</p>

</div>